.content-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;

    .cart-paying-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .cart-paying-header {
            width: 100%;
            text-align: left;
        }

        .cart-paying-details-wrapper {
            display: grid;
            width: 100%;
            grid-template-columns: 3fr 1fr;
            gap:20px;
            
            .cart-paying-products {
                .cart-paying-products-title {
                    font-weight: 700;
                    font-size: 1.1em;
                }

                .cart-paying-product-resumen {
                    display: grid;
                    width: 100%;
                    grid-template-columns: 1fr 2fr 1fr 1fr;
                    gap: 20px;
                    margin-bottom: 20px;

                    .cart-paying-image {
                        img {
                            max-width: 70%;
                            height: auto;
                        }

                    }

                    .cart-paying-title {
                        display: flex;
                        flex-direction: column;
                        .course-title {
                            font-weight: bold;
                        }
                        .course-professor {
                            font-style: italic;
                        }
                    }

                    .cart-paying-delete {
                        .cart-paying-delete-text {
                            color: $blue; 
                            cursor: pointer;
                            text-decoration: none; 
                            transition: transform 0.5s ease-in-out;

                            &:hover{
                                color: $dark-blue;
                            }
                        }
                    }

                    .cart-paying-price {
                        font-weight: 700;

                    }

                    .cart-paying-price-through {
                        color: gray; 
                        text-decoration: line-through;
                    }

                    .cart-paying-discounted-price {
                        font-weight: 700;
                        color: red;
                    }

                }

            }

            .cart-paying-total-pay {
                

                .cart-paying-total-pay-header {
                    font-size: 1.3em;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                .cart-paying-total-pay-total {
                    font-size: 1.8em;
                    font-weight: 700;
                    margin-bottom: 40px;
                }

                .cart-paying-total-pay-button {
                    margin-bottom: 20px;
                    
                    .btn-save {
                        width: 60%;
                        margin: 0 auto;
                        font-size: 1.2em;
                    }

                }

            }
        }

    }

}