.change-password-wrapper {
    display: flex;
    justify-content: center; 
    min-height: 73vh; 
    align-items: center;
    padding: 20px;
    box-sizing: border-box; 

    .change-password-container {
        max-width: 100%;
        width: 400px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        border: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-bottom: 100px;
    }
}