.course-content-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;

    .course-content-item-dashboard {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 3.5fr 0.5fr;
        gap: 20px;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: $greyShadow;
        border-radius: 8px;

        .course-content-image {
            min-width: 300px;
            min-height: 200px;
            background-color: $lightgrey;
            border-radius: 8px;

            img {
                max-width: 100%;
                min-width: 300px;
                height: auto;
                border-radius: 8px;
            }
        }

        .course-content-text {
            display: flex;
            flex-direction: column;
            width: 900px;
            margin: 10px 10px;

            .course-content-text-title {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: black;
                    cursor: pointer;

                    h2 {
                        margin: 0px;
                        font-size: 1.5rem;
                    }
                }
            }

            .course-content-text-content {
                width: 750px;

                .link-read-more {
                    @include link-read-more();
                }

                p {
                    text-align: left;
                    min-height: 200px;
                    color: $grey;
                }
            }
        }

        .course-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding: 0 20px;

            a.icon-trash {
                @include icon-trash();
            }
        }
    }

    .new-course-link {
        
        .icon-plus-circle {
            @include icon-plus-circle();
        }
    }

    .content-loader {
        @include content-loader();
    }
}

/*----------- Responsive --------*/
@media (max-width: 1450px) {
    .course-content-page-wrapper {
        .course-content-item-dashboard {
            width: 100%;

            .course-content-text {
                width: 750px;

                .course-content-text-title {

                    a {
                        h2 {
                            margin: 0px;
                            font-size: 1.1rem;
                        }
                    }
                }

                .course-content-text-content {
                    width: 600px;
                }
            }

            .course-icons {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 1300px) {
    .course-content-page-wrapper {
        .course-content-item-dashboard {
            width: 100%;

            .course-content-text {
                width: 700px;

                .course-content-text-title {

                    a {
                        h2 {
                            margin: 0px;
                            font-size: 1.1rem;
                        }
                    }
                }

                .course-content-text-content {
                    width: 550px;
                }
            }

            .course-icons {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 1194px) {
    .course-content-page-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;

        .course-content-item-dashboard {
            flex-direction: column;
            grid-template-columns: 1fr;

            .course-content-text {
                width: 100%;

                .course-content-text-content {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 996px) {
    .course-content-page-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;

        .course-content-item-dashboard {
            flex-direction: column;
            grid-template-columns: 1fr;

            .course-content-text {
                width: 100%;

                .course-content-text-content {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 660px) {
    .course-content-page-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px;

        .course-content-item-dashboard {
            flex-direction: column;
            grid-template-columns: 1fr;

            .course-content-text {
                width: 100%;

                .course-content-text-content {
                    display: none;
                }
            }
        }
    }
}