// .dashboard-dates-centers {
//   width: 80%;
//   margin: 0 auto;
  
  .centers-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  
    thead {
      background-color: #f6f6f6;
  
      th {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        color: #333;
        border-bottom: 2px solid #ddd;
      }
      th.professor-centers-table-headers {
        text-align: left;
      }
    }
  
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
        }
  
        &:hover {
          background-color: #f1f1f1;
        }
  
        td {
          padding: 10px;
          border-bottom: 1px solid #ddd;
  
          .dashboard-center-name,
          .dashboard-center-email,
          .dashboard-center-city {
            text-align: center;
          }
          
          .dashboard-professor-center-name,
          .dashboard-professor-center-email,
          .dashboard-professor-center-city {
            text-align: center;
          }
  
          button {
            padding: 5px 10px;
            border: none;
            color: white;
            min-width: 100px;
            cursor: pointer;
  
            &:hover {
              background-color: #0056b3;
            }
          }
        }
      }
    }
  
  }



/*------------- Responsive -----------------*/
@media (max-width: 1024px) {
  .centers-table {
    .email {
      display: none;
    }
    .dashboard-center-email {
      display: none; 
    }
    td {
      font-size: 14px; 
    }
  }
}

@media (max-width: 768px) {
  .centers-table {
    .email {
      display: none;
    }
    .dashboard-center-email {
      display: none; 
    }
  }
}

@media (max-width: 660px) {
  .centers-table {
    .email .city{
      display: none;
    }
    .city {
      display: none;
    }
    .dashboard-center-email {
      display: none; 
    }
    .dashboard-center-city {
      display: none; 
    }
    td {
      font-size: 12px; 
      padding: 6px; 
    }
  }
}
