.enrollments-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;

  thead {
    background-color: #f6f6f6;

    th {
      padding: 10px;
      text-align: center;
      font-weight: bold;
      color: #333;
      border-bottom: 2px solid #ddd;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      &:hover {
        background-color: #f1f1f1;
      }

      td {
        padding: 5px;
        border-bottom: 1px solid #ddd;

      }

      .dashboard-bills-number {
        text-align: center;
      }

      .dashboard-bills-date {
        text-align: center;
      }

      .dashboard-bills-total {
        text-align: right;
      }

      .dashboard-bils-finished {
        text-align: center;
      }
    }
  }

  /*   Responsive */


  /* Responsive for tablet and mobile */
  @media (max-width: 1024px) { /* Tablet horizontal */
    thead th {
      font-size: 0.9em; /* Reduce font size */
      padding: 8px; /* Reduce padding */
    }

    tbody td {
      font-size: 0.9em; /* Reduce font size */
      padding: 8px; /* Reduce padding */
    }
  }

  @media (max-width: 768px) { /* Tablet vertical */
    thead th {
      font-size: 0.8em;
      padding: 6px;
    }

    tbody td {
      font-size: 0.8em;
      padding: 6px;
    }
  }

  @media (max-width: 480px) { /* Mobile */
    thead th {
      font-size: 0.7em;
      padding: 5px;
    }

    tbody td {
      font-size: 0.7em;
      padding: 5px;
    }
  }
}
