@import "./base.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./footer.scss";
@import "./store.scss";
@import "./button.scss";
@import "./navigation.scss";
@import "./login.scss";
@import "./modals.scss";
@import "./home.scss";
@import "./dashboard.scss";
@import "./dashboard-content.scss";
@import "./dashboard-bills.scss";
@import "./cart-shopping.scss";
@import "./cart-details.scss";
@import "./contact.scss";
@import "./cart-paying.scss";
@import "./dashboard-centers.scss";
@import "./course-container.scss";
@import "./student-table.scss";
@import "./react-draft-wysiwyg.scss";
@import "./course-details.scss";
@import "./course-item-dashboard.scss";
@import "./course-form.scss";
@import "./change-password.scss";
@import "./teach.scss";
@import '~react-dropzone-component/styles/filepicker.css';

















