$blue: #007bff;
$dark-blue: #0056b3;
$charcoal: #42454a;
$offwhite: #f1f1f1;
$warning: #922a2a;
$notificacion: #c71c1c;
$grey: #6d6b6b;
$lightgrey: #e1dcdc;
$mediumgrey: #a1a1a1;
$light-orange-start: #f6d365; 
$light-orange-end: #fda085; 
$green: #17ad0a;
$dark-green: #127209;
$light-green-start: #a8e6cf; 
$light-green-end: #dcedc1;

$blue-start: #449ce9; 
$blue-end: #00c6ff; 

/*--Degraded*/
$greenDegraded: rgba(0,128,0, 0.3);
$blueDegraded: rgba(0, 0, 255, 0.6);
$darkBlueDegraded: rgba(4, 4, 211, 0.4);

/*--Shadows--*/
$greyShadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
$buttonElevated: 0 6px 12px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.15); 
$buttonElevantedHover: 0 8px 16px rgba(0, 0, 0, 0.25), 0 6px 8px rgba(0, 0, 0, 0.2);
$buttonPressed: 0 3px 6px rgba(0, 0, 0, 0.1); 



